<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New List</title>
</head>
<body>
    <h1>Add a List</h1>

    <form action="/lists" method="POST">
        <label for="name">Name:</label>
        <input type="name" name="name" placeholder="List Name" id="name">
        <br>
        <label for="shop">Shop:</label>
        <select name="shop" id="shop">
                <% for(let i=0; i<shop.length; i++) { %> 
                    <option value="<%= shop[i]._id %>">
                        <%= shop[i].name %> 
                    </option>
                <% } %>
        </select>
        <br>
        <button>Add</button>
    </form>

    <a href="/lists">Home</a>


    
</body>
</html>